.menu-principal {
    background-color: black;
    height: 150px;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
}



.header-2 {
    background-color: #444444;
    width: 1326px;
    border-bottom: 3px solid;
    height: 100px;
    margin: 0 auto;
    border-radius: 50px;
}

.menu li {
    display: inline-block;
    color: white;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    margin-top: 40px;
}

.menu {
    width: 77%;
    float: left;
}

.busca {
    width: 22%;
    float: right;
    margin-top: 30px;
}

.busca input {
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: 90%;
    height: 40px;
    padding: 15px;
    width: 250px;
    border-radius: 100px;
}

.mouse {
    display: inline-block;
    background-color: #444444;
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-left: 56px;
    border-radius: 50px;
    padding: 0;
}

.mouse li {
    display: block; 
    color: white;
}

.mouse li a {
    display: block;     
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 35px;
}

.teclado {
    vertical-align: top;
    display: inline-block;
    background-color: #444444;
    width: 250px;
    height: 350px;
    margin-left: 70px;
    border-radius: 50px;
    margin-top: 50px;
}

.teclado li {
    display: block; 
    color: white;
}

.teclado li a {
    display: block; 
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 30px;
}
.Fone {
    vertical-align: top;
    display: inline-block;
    background-color: #444444;
    width: 250px;
    height: 350px;
    margin-left: 70px;
    border-radius: 50px;
    margin-top: 50px;
}

.Fone li {
    display: block; 
    color: white;
}

.Fone li a {
    display: block; 
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 30px;
}
.gabinete {
    vertical-align: top;
    display: inline-block;
    background-color: #444444;
    width: 250px;
    height: 350px;
    margin-left: 70px;
    border-radius: 50px;
    margin-top: 50px;
}

.gabinete li {
    display: block; 
    color: white;
}

.gabinete li a {
    display: block; 
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 30px;
}
.login{
    background-color:#444444;
    width: 80px;
    height: 30px;
    display: inline;
    color: white;
    float: right;
    margin-right: 150px;
    margin-top: 60px;
    border-radius: 50px;

}
.login li{
    display: block;
    color: white;
}
.login li a{
    margin-top: 2px;
    margin-left: 17px;
    display: block;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    display: flex;
    text-transform: capitalize;
}

.acesso{
    background-color: black;
    width: 100%;
    height: 100%;
}
.acesso {
    width: 22%;
    margin-top: 30px;
    margin-left: 35%;
}

.acesso input {
    height: 54px;
    padding: 15px;
    width: 350px;
    border-radius: 100px;}

.password {
    margin-top: 20px;
}
.entrar 
{
    background-color: #444444;
    color: white;
    width: 350px;
margin-top: 20px;
height: 100px;
border-radius: 100px;}
.entrar li{
    color: white;
    text-decoration: none;
    margin-left: 145px;
    list-style: none;
   
}
.entrar li a{
    color: white;
    text-decoration: none;
    margin-top: 35px;
    display: inline-block;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   list-style-type: none;
}
.caixa_produto{
    vertical-align: top;
    display: inline-block;
    background-color: #444444;
    width: 1326px;
    height: 580px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 75px;
}

.titulo_produto {
color: white;
margin-top: 125px;
font-size: 25px;
margin-bottom: 30px;
}

.preco_produto {
color: white;
font-size: 22px;
margin-bottom: 30px;
}

.estoque_produto {
color: white;
font-size: 22px;
margin-bottom: 30px;
}

.descricao_produto {
color: white;
font-size: 22px;
margin-bottom: 30px;
}

.botoes {
position: absolute;
bottom: 20px;
right: 20px;
display: flex;
flex-direction: column-reverse; 
margin-right: -980px; 
}

.botoes button {
width: 50px;
height: 50px;
background-color: transparent;
border: none;
cursor: pointer;
margin-top: 500px;
margin-bottom: -100px; 
padding: 0;
}

.botoes button img {
width: 100%;
height: 100%;
}
.imagem-com-borda {
    border: 3px solid #000000;
}

.Adicionar{
    margin-left: 100px;
    margin-top: 200px;
}
.nome-do-produto input{
    width: 397px;
    height: 54px;
    border-radius: 100px;
    margin-bottom: 20px;
}
.quantidade input{
    width: 397px;
    height: 54px;
    border-radius: 100px;
    margin-bottom: 20px;
}
.desc_prod input{
    width: 397px;
    height: 54px;
    border-radius: 100px;
    margin-bottom: 20px;
}
.valor input{
    width: 397px;
    height: 54px;
    border-radius: 100px;
    margin-bottom: 20px;
}
.botao-1 {
    bottom: 20px;
    right: 20px;
    }
    .botao-1 button {
        width: 447px;
        height: 107px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 50px;
        margin-bottom: -100px; 
        padding: 0;
        }
        
        .botao-1 button img {
        width: 100%;
        height: 100%;
        }
.titulo {
color: white;
display: inline-block;
text-decoration: none;
list-style-type:none;
}
.titulo li{
    font-size: 48;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin-left: 500px;
    list-style-type: none;
}